body {
  margin: 0;
  padding: 0;
  min-width: 480px;
}

body, .grid-container {
  min-height: 100vh;
}

.grid-container {
  padding: 5px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr);
  grid-template-rows: minmax(175px, 1fr) minmax(175px, 1fr);
  grid-template-areas: "values values template template" "render render render render";
}

.values, .template, .render {
  display: grid;
  grid-gap: 10px;
}

.values {
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: 2.5rem auto;
  grid-template-areas: "values_label values_format" "values_editor values_editor";
  grid-area: values;
}

.values_label { grid-area: values_label; }

.values_format { grid-area: values_format; }

.values_editor { grid-area: values_editor; }

.template {
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 2.5rem auto;
  grid-template-areas: "template_label template_button" "template_editor template_editor";
  grid-area: template;
}

.template_label { grid-area: template_label; }

.template_button {
  white-space: nowrap;
  grid-area: template_button;
}

.template_editor { grid-area: template_editor; }

.render {
  grid-template-columns: 1.3fr 1.3fr 5fr;
  grid-template-rows: 2.5rem auto;
  grid-template-areas: "render_label render_data render_type" "render_display render_display render_display";
  grid-area: render;
}

.render_label { grid-area: render_label; }

.render_data { grid-area: render_data; }

.render_type { grid-area: render_type; }

.render_display { grid-area: render_display; }

.render_type_menu {
  overflow-y: scroll;
  height: 200px;
}

#values, #template, #render {
  height: 100%;
}

.label {
  margin-bottom: 0px;
}

.snapshot_alert {
  margin: 10px;
  opacity: .97 !important;
}