<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js" integrity="sha256-rfN9xU0ELcvTsc3WUaKlvSVEfzLvFCyl+ID09aieASo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/mode-javascript.js" integrity="sha256-9nVHCZW1SuyhaVgqmPk1XutGn+g/ASVBiVAheioldo4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/yamljs/0.3.0/yaml.min.js" integrity="sha256-fDg/uZo3GBErK1nydRVMJ6iZcDtOq2u3tWJtql0odec=" crossorigin="anonymous"></script>    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parser.css') }}">
    <title>Ansible Jinja2 Tester</title>
  </head>

  <body>
    {%- if enable_snapshots %}
    <div id="snapshot_alert" class="fixed-top alert snapshot_alert fade col-md-6 mx-auto d-none" role="alert">
      <span id="snapshot_alert_message"></span>
      <button id="snapshot_alert_close_button" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif -%}
    <div class="grid-container">
      <div class="values">
        <div class="values_label">
           <h1 class="label">Values</h1>
        </div>
        <div class="values_format align-self-end text-right">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label for="yaml" class="btn btn-sm btn-primary{{ ' active' if values_type != 'json' else '' }}">
              <input type="radio" name="values_type" id="yaml" autocomplete="off" {{ 'checked' if values_type != 'json' else '' }}> YAML
            </label>
            <label for="json" class="btn btn-sm btn-primary{{ ' active' if values_type == 'json' else '' }}">
              <input type="radio" name="values_type" id="json" autocomplete="off" {{ 'checked' if values_type == 'json' else '' }}> JSON
            </label>
          </div>
        </div>
        <div class="values_editor">
            <div id="values"></div>
        </div>
      </div>
      <div class="template">
        <div class="template_label">
          <h1 class="label">Template</h1>
        </div>
        <div class="template_button align-self-end text-right">
          <button type="button" class="btn btn-sm btn-success" id="test" title="Run the test." data-loading-text="<i class='fas fa-circle-notch fa-spin text-white'></i> Test">
            <i class="fas fa-play text-white"></i> Test
          </button>
            <button type="button" class="btn btn-sm btn-danger" id="clear" title="Clear the editors.">
            <i class="fas fa-trash text-white"></i> Clear
          </button>
          {%- if enable_snapshots %}
          <button type="button" class="btn btn-sm btn-warning" id="snapshot" title="Take a snapshot for sharing." data-loading-text="<i class='fas fa-circle-notch fa-spin text-white'></i>">
            <i class="fas fa-camera fa-lg text-white"></i>
          </button>
          {% endif -%}
        </div>
        <div class="template_editor">
          <div id="template"></div>
        </div>
      </div>
      <div class="render">
        <div class="render_label">
          <h1 class="label">Render</h1>
        </div>
        <div class="render_data align-self-end text-left">
          <span class="font-weight-light text-secondary">Ansible Version: {{ ansible_version }}</span>
        </div>
        <div class="dropdown render_type align-self-end text-right">
          <button class="btn btn-primary dropdown-toggle" type="button" id="render_type_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="selection" value="{{ render_type_value }}">{{ render_type_name }}</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id="render_type_ul" aria-labelledby="render_type_button">
            <li class="dropdown-item"><a value="ace/mode/plain_text">Plain text</a>
            <li class="dropdown-item"><a value="ace/mode/css">CSS</a>
            <li class="dropdown-item"><a value="ace/mode/dockerfile">Dockerfile</a>
            <li class="dropdown-item"><a value="ace/mode/gitignore">Gitignore</a>
            <li class="dropdown-item"><a value="ace/mode/golang">Go</a>
            <li class="dropdown-item"><a value="ace/mode/groovy">Groovy</a>
            <li class="dropdown-item"><a value="ace/mode/html">HTML</a>
            <li class="dropdown-item"><a value="ace/mode/ini">INI</a>
            <li class="dropdown-item"><a value="ace/mode/java">Java</a>
            <li class="dropdown-item"><a value="ace/mode/javascript">JavaScript</a>
            <li class="dropdown-item"><a value="ace/mode/json">JSON</a>
            <li class="dropdown-item"><a value="ace/mode/makefile">Makefile</a>
            <li class="dropdown-item"><a value="ace/mode/markdown">Markdown</a>
            <li class="dropdown-item"><a value="ace/mode/mysql">MySQL</a>
            <li class="dropdown-item"><a value="ace/mode/nginx">Nginx</a>
            <li class="dropdown-item"><a value="ace/mode/php">PHP</a>
            <li class="dropdown-item"><a value="ace/mode/properties">Properties</a>
            <li class="dropdown-item"><a value="ace/mode/python">Python</a>
            <li class="dropdown-item"><a value="ace/mode/r">R</a>
            <li class="dropdown-item"><a value="ace/mode/ruby">Ruby</a>
            <li class="dropdown-item"><a value="ace/mode/sh">SH</a>
            <li class="dropdown-item"><a value="ace/mode/toml">Toml</a>
            <li class="dropdown-item"><a value="ace/mode/typescript">Typescript</a>
            <li class="dropdown-item"><a value="ace/mode/xml">XML</a>
            <li class="dropdown-item"><a value="ace/mode/yaml">YAML</a>
          </ul>
        </div>
        <div class="render_display">
          <div id="render"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8">
      (function($) {
        $.fn.buttonState = function(action) {
          if (action === 'loading' && this.data('loading-text')) {
            this.data('original-text', this.html()).html(this.data('loading-text')).prop('disabled', true);
          }
          if (action === 'reset' && this.data('original-text')) {
            this.html(this.data('original-text')).prop('disabled', false);
          }
        };
      }(jQuery));

      $(document).ready(() => {
        ace.config.setModuleUrl("ace/mode/jinja2", "{{ url_for('static', filename='js/jinja2.js') }}");

        let values_type = $('input[name="values_type"]:checked').prop('id');
        let values_editor = ace.edit("values");
        values_editor.setTheme("ace/theme/chrome");
        values_editor.setShowInvisibles(true);
        values_editor.setShowPrintMargin(false);
        values_editor.session.setMode("ace/mode/" + values_type);
        values_editor.setValue("{{ values|safe|escape }}", 1);

        let template_editor = ace.edit("template");
        template_editor.setTheme("ace/theme/chrome");
        template_editor.setShowInvisibles(true);
        template_editor.setShowPrintMargin(false);
        template_editor.session.setMode("ace/mode/jinja2");
        template_editor.setValue("{{ template|safe|escape }}", 1);

        let render_type = $('.render_type').find('.selection').attr('value');
        let render_editor = ace.edit("render");
        render_editor.setTheme("ace/theme/chrome");
        render_editor.setShowInvisibles(true);
        render_editor.setShowPrintMargin(false);
        render_editor.setReadOnly(true);
        render_editor.session.setMode(render_type);
        render_editor.setValue("{{ render|safe|escape }}", 1);

        $('input[name="values_type"]').change(() => {
          let values_type = $('input[name="values_type"]:checked').prop('id');
          let values = values_editor.getValue();
          if (values_type === 'json') {
            values = JSON.stringify(YAML.parse(values), null, 2);
          } else if (values_type === 'yaml') {
            values = YAML.dump(JSON.parse(values), 2, 2);
          }
          values_editor.session.setMode("ace/mode/" + values_type);
          values_editor.setValue(values, 1);
        });

        $('#clear').click(() => {
          values_editor.setValue("", 1);
          template_editor.setValue("", 1);
          render_editor.setValue("", 1);
        });

        $('#test').click((e) => {
          let target = $(e.target);
          let clear = $('#clear');
          let snapshot = $('#snapshot');
          target.buttonState('loading');
          target.prop('disabled', true);
          clear.addClass('disabled');
          clear.prop('disabled', true);
          snapshot.addClass('disabled');
          snapshot.prop('disabled', true);
          let values_type = $('input[name="values_type"]:checked').prop('id');
          $.post('/test', {
            template: template_editor.getValue(),
            values: values_editor.getValue(),
            values_type: values_type
          }).done(response => {
            let result_json = $.parseJSON(response);
            render_editor.setValue(result_json['result'], 1);
          }).always(() => {
            target.buttonState('reset');
            target.prop('disabled', false);
            clear.removeClass('disabled');
            clear.prop('disabled', false);
            snapshot.removeClass('disabled');
            snapshot.prop('disabled', false);
          });
        });

        $('#render_type_ul').on('click', 'li a',function(){
          const selectvalue = $(this).attr('value');
          $(this).parents(".render_type").find('.selection').text($(this).text());
          $(this).parents(".render_type").find('.selection').attr('value', selectvalue);
          render_editor.session.setMode(selectvalue);
        });

        {%- if enable_snapshots %}
        $('#snapshot_alert_close_button').click(() => {
           $('#snapshot_alert').hide();
        });

        $('#snapshot').click((e) => {
          let target = $(e.target);
          target.buttonState('loading');
          target.prop('disabled', true);
          let values_type = $('input[name="values_type"]:checked').prop('id');
          let render_type = $('.render_type').find('.selection')
          let render_type_name = render_type.text();
          let render_type_value = render_type.attr('value');
          $.post('/snapshot', {
            values_type: values_type,
            values: values_editor.getValue(),
            template: template_editor.getValue(),
            render_type_name: render_type_name,
            render_type_value: render_type_value,
            render: render_editor.getValue(),
          }).done((data) => {
            $('#snapshot_alert_message').html('Your snapshot is available at <a href="' + data + '">here</a>.  Copy this link to share your snapshot with others.');
            let snapshot_alert = $('#snapshot_alert');
            snapshot_alert.removeClass('alert-danger');
            snapshot_alert.addClass('alert-info');
          }).fail(() => {
            $('#snapshot_alert_message').text('Your snapshot has failed to save.  Please try again.');
            let snapshot_alert = $('#snapshot_alert');
            snapshot_alert.removeClass('alert-info');
            snapshot_alert.addClass('alert-danger');
            setTimeout(function() {
              snapshot_alert.addClass('d-none');
            }, 10000);
          }).always(() => {
            let snapshot_alert = $('#snapshot_alert');
            snapshot_alert.removeClass('d-none');
            target.buttonState('reset');
            target.prop('disabled', false);
          });
        });
        {% endif -%}
      });
    </script>
  </body>
</html>